.App {
  text-align: center;
  font-family: Arial, sans-serif;
}

header {
  background-color: #282c34;
  padding: 20px;
  color: white;
}

.main-content {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.home-section,
.quiz-section {
  width: 45%;
}

table {
  margin: 20px auto;
  border-collapse: collapse;
  width: 100%;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
}

th {
  background-color: #f2f2f2;
}

span {
  color: red;
}

button {
  margin: 10px;
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

input[type="text"] {
  padding: 10px;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Styles for main content */
.main-content {
  display: flex;
  flex-direction: column; /* Stack items vertically by default */
}

/* Styles for tablet-sized screens and larger */
@media only screen and (min-width: 768px) {
  .main-content {
    flex-direction: row; /* Display items side by side */
  }

  .home-section {
    flex: 1; /* Take up remaining space */
    padding: 20px; /* Add some padding */
  }

  .quiz-section {
    flex: 1; /* Take up remaining space */
    padding: 20px; /* Add some padding */
  }
}